<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAcy0eU_DYN6XrzNTxsXTW_Au0Agiu9AeA</string>
	<key>GCM_SENDER_ID</key>
	<string>1059589067497</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cem.gun.sound</string>
	<key>PROJECT_ID</key>
	<string>ios-gunsound</string>
	<key>STORAGE_BUCKET</key>
	<string>ios-gunsound.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1059589067497:ios:53317bceb3a4399c515678</string>
</dict>
</plist>